<table class="table table-bordered table-striped" style="border: none;">
    <thead>
        <tr>
            <td class="title-column">Id</td>
            <td class="title-column">firstname</td>
            <td class="title-column">Lastname</td>
            <td class="title-column">Position</td>
            <td class="title-column">Time</td>
        </tr>
    </thead>
    <tr *ngFor="let players of playersList" [class.selectedRow]="rowIsSelected(players.playerId)" (click)="onRowClick(players.playerId)" style="cursor: pointer;">
        <td class="row-left title">{{players.playerId}}</td>
        <td class="row-mid title">{{players.firstname}}</td>
        <td class="row-mid title">{{players.lastname}}</td>
        <td class="row-mid title">{{players.position}}</td>
        <td class="row-mid title">{{players.time}}</td>
        <td><button>Update position</button></td>
        <td><button>Update playerTime</button></td>
       
    </tr>
   </table>
  
   <button (click)="onLogClick()">Submit</button>

