<h3>My Players</h3>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Position</th>
            <th>Height(ft)</th>
            <th>Height(in)</th>
            <th>Weight</th>
            <th>PPG</th>
            <th>APG</th>
            <th>SPG</th>
            <th>RPG</th>
            <th>BPG</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let players of playersList">
            <td>{{players.id}}</td>
            <td>{{players.firstname}}</td>
            <td>{{players.lastname}}</td>
            <td>{{players.position}}</td>
            <td>{{players.height_feets}}</td>
            <td>{{players.height_inches}}</td>
            <td>{{players.weight}}</td>
            <td>{{players.ppg}}</td>
            <td>{{players.apg}}</td>
            <td>{{players.spg}}</td>
            <td>{{players.rpg}}</td>
            <td>{{players.bpg}}</td>
        </tr>
    </tbody>
</table><br>

<!-- <label for="signPlayer">Sign/Trade Player By ID</label>
<input type="number" id="signPlayer" [(ngModel)]="playerToSign"><br> -->


<label for="cutPlayer">Waive Player By ID</label>
<input type="number" id="cutPlayer" [(ngModel)]="playerToCut"><br>
<button (click)="cutPlayer()">Apply Changes</button><br>

<label for="selectPlayer">Select Player By ID</label>
<input type="number" id="selectPlayer" [(ngModel)]="selectPlayer"><br>
<label for="newTeamId">Select Team ID</label>
<input type="number" id="newTeamId" [(ngModel)]="newTeamId"><br>
<button (click)="changePlayerTeam()">Apply Changes</button><br>

<label for="changePlayerWeight">Update Player Weight</label>
<input type="number" id="changePlayerWeight" [(ngModel)]="newWeight"><br>
<button (click)="updatePlayerWeight(); displayPlayer();">Apply Changes</button><br>

<label for="changePlayerHeightFt">Update Player Height(ft)</label>
<input type="number" id="changePlayerHeightFt" [(ngModel)]="newHeightFt"><br>
<button (click)="updatePlayerHtFt(); displayPlayer();">Apply Changes</button><br>

<label for="changePlayerHeightIn">Update Player Height(in)</label>
<input type="number" id="changePlayerHeightIn" [(ngModel)]="newHeightIn"><br>
<button (click)="updatePlayerHtIn(); displayPlayer();">Apply Changes</button><br>