<h3>Home</h3>
<div>
    <label for="locationInput">Team Location:</label>
    <input type="text" [(ngModel)]="location" id="locationInput"><br>
    <label for="tNameInput">Team Name:</label>
    <input type="text" [(ngModel)]="teamName" id="tNameInput"><br>
    <button (click)="addTeam()">Create Team</button>
</div>

<table>
    <thead>
        <tr>
            <th>Location</th>
            <th>Team Name</th>
            <!-- <th>Roster Size</th> -->
            <th>Win Rate</th>
            <th>PPG</th>
            <th>PAPG</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let team of teamList">
            <td>{{team.location}}</td>
            <td>{{team.teamName}}</td>
            <!-- <td>{{team.rosterSize}}</td> -->
            <td>{{team.winRate}}</td>
            <td>{{team.ppg}}</td>
            <td>{{team.papg}}</td>
        </tr>
    </tbody>
</table>

<label for="changeTeamName">Change Team Name</label>
<input type="ntext" id="changeTeamName" [(ngModel)]="newName"><br>
<button (click)="changeTeamName(); displayTeam();">Apply Changes</button><br>

<label for="changeTeamLoc">Change Team Location</label>
<input type="text" id="changeTeamLoc" [(ngModel)]="newLoc"><br>
<button (click)="changeTeamLoc(); displayTeam();">Apply Changes</button><br>



<div id="inputDiv">
    <label for="fNameInput">First Name:</label>
    <input type="text" [(ngModel)]="firstName" id="fNameInput"><br>
    <label for="lNameInput">Last Name:</label>
    <input type="text" [(ngModel)]="lastName" id="lNameInput"><br>
    <button (click)="addCoach()">Hire Head Coach</button>
</div>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of coachList">
            <td>{{user.id}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
        </tr>
    </tbody>
</table><br>

<label for="coachID">Delete Coach by ID</label>
<input type="number" id="coachID" [(ngModel)]="cID"><br>
<button (click)="deleteCoach()">Fire Coach</button>


 

    
    <!--<button class="btn btn-lg btn-outline-primary" (click)="open()">Launch demo modal</button>-->