<h3>Team Viewer</h3>

<table>
    <thead>
        <tr>
            <th>Location</th>
            <th>Team Name</th>
            <th>Roster Size</th>
            <th>Win Percentage</th>
            <th>PPG</th>
            <th>PAPG</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let team of fakeTeamList">
            <td>{{team.location}}</td>
            <td>{{team.teamName}}</td>
            <td>{{team.rosterSize}}</td>
            <td>{{team.winRate}}</td>
            <td>{{team.pointsPg}}</td>
            <td>{{team.pointsAgPg}}</td>
        </tr>
    </tbody>
</table>
