<h3>Team Viewer</h3>

<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Position</th>
            <th>Height (Ft)</th>
            <th>Height (In)</th>
            <th>Weight (lbs)</th>
        </tr>
    </thead>
        <tbody>
            <tr *ngFor="let player of PlayersList">
                <td>{{player.first_name}}</td>
                <td>{{player.last_name}}</td>
                <td>{{player.position}}</td>
                <td>{{player.height_feet}}</td>
                <td>{{player.height_inches}}</td>
                <td>{{player.weight_pounds}}</td>
                </tr>
        </tbody>
</table>

<table>
    <thead>
        <tr>
            <th>Location</th>
            <th>Team Name</th>
            <th>Roster Size</th>
            <th>Win Percentage</th>
            <th>PPG</th>
            <th>PAPG</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let team of fakeTeamList">
            <td>{{team.location}}</td>
            <td>{{team.teamName}}</td>
            <td>{{team.rosterSize}}</td>
            <td>{{team.winRate}}</td>
            <td>{{team.pointsPg}}</td>
            <td>{{team.pointsAgPg}}</td>
        </tr>
    </tbody>
</table>
