<h1>Basketball Team Managemment System</h1>

<!--
<app-nav *ngIf="isLoggedIn"></app-nav>

<app-home *ngIf="!isLoggedIn"></app-home>

<div class="container" *ngIf="isLoggedIn">  -->
  <app-nav></app-nav>
  <div class="card border-0 my-auto w-100">

    <div class="shadow-lg">


<!-- <ul id="navList">
    <li routerLink='players'>Players</li>
    <li routerLink='teams'>Teams</li>
</ul> -->

<router-outlet></router-outlet>

</div>



<button class="btn btn-secondary" (click)="signOut()">Log Out</button>

</div>
