
<div>

  <div class="card-body">

    <form>

      <div>
        <label for="inputUsername" class="form-label">Username: </label>
        <input [(ngModel)]="username" name="username" type="text" placeholder="Username" autocomplete="off">
      </div>

      <br>

      <div>
        <label for="inputPassword" class="form-label">Password: </label>
        <input [(ngModel)]="password" name="password" type="password" placeholder="Password" autocomplete="off">
      </div>
      <br>

      <button class="btn btn-secondary" (click)="login()">Log in</button>


      <br>
      <p>{{loginErrMsg}}</p>

    </form>

  </div>

</div>
